<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="Content-Security-Policy" content="default-src *; style-src 'self' http://* 'unsafe-inline'; script-src 'self' http://* 'unsafe-inline' 'unsafe-eval'" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <META HTTP-EQUIV="REFRESH" CONTENT="1;URL=<%= url %>">
</head>
<body>
</body>
</html>